body{
    margin:0;
    font-family:Arial,sans-serif;
}

.start-block{
    background-color:#C5DFA0;
    color:white;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.start-block h1{
    margin-bottom:0;
    font-size:128px;
}

.start-block img{
    width:500px;
    height:500px;
    margin-top:75px;
    transition:0.5s;
}

.start-block img:hover{
    width:540px;
    height:540px;
    cursor:pointer;
}

.start-block .go-down-button{
    color:white;
    font-size:64px;
    position:absolute;
    align-self:flex-end;
    margin-bottom:5rem;
    cursor:pointer;
    border:none;
    background:none;
}

@media (max-width: 800px) {
    .start-block{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    .start-block h1{
        margin:0;
    }

    .start-block img{
        width:250px;
        height:250px;
    }
    
    .start-block img:hover{
        width:250px;
        height:250px;
        cursor:auto;
    }
}

.main-page{
    height:100vh;
    margin:3rem;
}

article{
    font-size:24px;
}